.config
*.o
*.pyc

# gtags
GTAGS
GRTAGS
GPATH

# MacOS directory files
.DS_Store

# cache dir
.cache/

TEST_LOGS/
build_summary_*.xml

# gcov coverage reports
*.gcda
*.gcno
coverage.info
coverage_report/

test_multi_heap_host

# VS Code Settings
.vscode/

# VIM files
*.swp
*.swo

# Results for the checking of the Python coding style and static analysis
.mypy_cache
flake8_output.txt

# ESP-IDF default build directory name
build

# generated sdkconfig
sdkconfig
sdkconfig.old

# managed_components for examples
managed_components

# pytest log
pytest-embedded/
# legacy one
pytest_embedded_log/
list_job*.txt
size_info*.txt
XUNIT_RESULT*.xml
.manifest_sha

# clang config (for LSP)
.clangd

secure_boot_signing_key.pem